//general
body {
	background: url(../../dist/images/fondo-mapa.jpg);
	background-size: cover;
	.col-md-4 {
		padding: 0;
	}
}
.negrita {
	font-weight: bold;
}
.italica {
	font-style: italic;
}
.ocultar {
	display: none;
}
h3 {
	font-family: "Courier New", Courier, monospace;
}
h4{
	font-family: "Courier New", Courier, monospace;
}

//Navbar
.navbar {
	background-color: $blanco;
	img {
		margin-top: 10px;
		width: 200px;
	}
	span {
		@include icono-info;
	}
}


//#home-sec	
#home-sec{
	padding-top: 50px;
	.recuadroBlanco {
		@include recuadrosBlancos;
	}
	.botonBuscar {
		@include botonesAmarillos;
	}	
}


//#info
/*#info {
	@include info;
	img {
		width: 150px;
	}
}*/


//#calculator
#calculator{
	.recuadroBlanco {
		@include recuadrosBlancos;
		td {
			padding: 0 10px;
		}
		.imgVeh {
			width: 60px;
		}
		.Veh {
			margin-bottom: 0;
		}
		.maxPasaj {
			font-size: 11px;
		}
		.precios {
			@include preciosAmarillos;
		}
		.txtPasaj {
			float: left;
		}
	}
	.botonCompartir {
		@include botonesAmarillos;
	}
}