//Navbar
@mixin icono-info {
	font-size: 30px;
	float: right;
	margin: 10px;
	color: $amarillo;
}
@mixin info {
	position: absolute;
	right: 90px;
	top: 100px;
	background-color: $blanco;
	width: 300px;
	text-align: center;
}
@mixin recuadrosBlancos {
	background-color: $blanco;
	padding: 10px;
	padding-top: 2px;
}
@mixin botonesAmarillos {
	color: $blanco;
	background-color: $amarillo;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
@mixin preciosAmarillos {
	color: $amarillo;
	font-weight: bold;
	font-size: 18px;
}